[Container]
AddCapability=CAP_NET_BIND_SERVICE
AutoUpdate=registry
ContainerName=nginx-%i
Image=dhi.io/nginx:1
Mount=type=volume,source=nginx-config@.volume,target=/etc/nginx,ro,idmap=uids=0-65532-1;gids=0-65532-1
Mount=type=tmpfs,target=/var/cache/nginx,chown,tmpfs-mode=1755
Mount=type=tmpfs,target=/run/nginx,chown,tmpfs-mode=1755
Pull=newer
ReadOnly=true
ReloadSignal=SIGHUP

[Service]
Restart=always
