name: Tag on update
on:
  schedule:
  - cron: '*/5 * * * *'
jobs:
  tag-on-update:
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
    - id: generate-tags
      run: |
        NGINX_TOKEN="$(curl 'https://ghcr.io/token?scope=repository:nginx/nginx-unprivileged:pull&service=ghcr.io' --silent | jq --raw-output '.token')"
        NGINX_VERSION="$(curl https://ghcr.io/v2/nginx/nginx-unprivileged/manifests/1 -H "Authorization: Bearer $NGINX_TOKEN" -H 'Accept: application/vnd.oci.image.index.v1+json' --silent | jq --raw-output '.annotations["org.opencontainers.image.version"]')"
        NGINX_DAV_EXT_MODULE_URL="$(curl --head https://github.com/arut/nginx-dav-ext-module/releases/latest --output /dev/null --write-out '%{redirect_url}')"
        NGINX_DAV_EXT_MODULE_VERSION="${NGINX_DAV_EXT_MODULE_URL##*/v}"
        printf 'TAG=%s\nNGINX_VERSION=%s\n' "nginx-${NGINX_VERSION}_nginx-dav-ext-module-$NGINX_DAV_EXT_MODULE_VERSION" "$NGINX_VERSION" >>"$GITHUB_OUTPUT"
    - id: tag-exists
      run: |
        HTTP_CODE="$(curl --head "${{ github.server_url }}/${{ github.repository }}/releases/tag/${{ steps.generate-tags.outputs.TAG }}" --output /dev/null --write-out '%{http_code}')"
        printf 'HTTP_CODE=%s\n' "$HTTP_CODE" >>"$GITHUB_OUTPUT"
    - if: ${{ success() && steps.tag-exists.outputs.HTTP_CODE == 404 }}
      run: |
        curl -X POST ${{ github.api_url }}/repos/${{ github.repository }}/git/refs \
          -H 'Authorization: Bearer ${{ secrets.RECURSIVE_ACTIONS }}' \
          -H 'Accept: application/vnd.github+json' \
          --data-raw '{"ref":"refs/tags/${{ steps.generate-tags.outputs.TAG }}","sha":"${{ github.sha }}"}' \
          --fail
